AWS_REGION=ap-southeast-1
DDB_PROBLEMS_TABLE=Problems
DDB_SESSIONS_TABLE=InterviewSessions
DDB_ENDPOINT=http://localhost:8000
JUDGE0_URL=http://127.0.0.1:2358
MAX_CONCURRENT_SESSIONS=2
PORT=3000
USE_FAKE_AGENTS=true
