POSTGRES_HOST=db
POSTGRES_DB=judge0
POSTGRES_USER=judge0
POSTGRES_PASSWORD=doi_mat_khau_nay
REDIS_HOST=redis
REDIS_PASSWORD=doi_mat_khau_redis_nay
RAILS_MAX_THREADS=10
MAX_QUEUE_SIZE=100
ENABLE_WAIT_RESULT=true
ENABLE_COMPILER_OPTIONS=false
MAX_CPU_TIME_LIMIT=15
MAX_CPU_EXTRA_TIME=5
MAX_WALL_TIME_LIMIT=20
MAX_MEMORY_LIMIT=512000
MAX_STACK_LIMIT=128000
MAX_PROCESSES_AND_OR_THREADS=120
MAX_NUMBER_OF_RUNS=20
